<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.magnickolas.pass</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>217B07BD-20C8-4A2F-A650-5389B0301211</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44F6D9A0-5BFE-4D55-9E56-F883A6FC040B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ACF8549-8A1E-4C28-ADBC-A897C258182E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>980DF2FC-141B-4D1A-8930-6789BB028C99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E150117-97A7-4F17-98A9-DF5C1B9282D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCEC48A2-9064-4F33-B084-64D77D7695BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1922F6C-06DE-439B-BE2F-645000736C40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ACF8549-8A1E-4C28-ADBC-A897C258182E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3D45306-6281-470C-9041-6E9F2495D9A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>217B07BD-20C8-4A2F-A650-5389B0301211</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCEC48A2-9064-4F33-B084-64D77D7695BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AE8C30D-2CA1-49D4-8A60-1A92EB3C655A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>magnickolas</string>
	<key>description</key>
	<string>Utilities for pass password manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>pass</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query="{query}"

pass_rank/pass_rank "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Copy password</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A1922F6C-06DE-439B-BE2F-645000736C40</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/get_password.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7ACF8549-8A1E-4C28-ADBC-A897C258182E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>980DF2FC-141B-4D1A-8930-6789BB028C99</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4AE8C30D-2CA1-49D4-8A60-1A92EB3C655A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/get_otp.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCEC48A2-9064-4F33-B084-64D77D7695BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>pass-otp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query="{query}"

pass_rank/pass_rank "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Copy OTP</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9E150117-97A7-4F17-98A9-DF5C1B9282D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/generate_password.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>217B07BD-20C8-4A2F-A650-5389B0301211</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pass-gen</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate a password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E3D45306-6281-470C-9041-6E9F2495D9A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>44F6D9A0-5BFE-4D55-9E56-F883A6FC040B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>217B07BD-20C8-4A2F-A650-5389B0301211</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>44F6D9A0-5BFE-4D55-9E56-F883A6FC040B</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>4AE8C30D-2CA1-49D4-8A60-1A92EB3C655A</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>7ACF8549-8A1E-4C28-ADBC-A897C258182E</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>980DF2FC-141B-4D1A-8930-6789BB028C99</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>9E150117-97A7-4F17-98A9-DF5C1B9282D6</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>A1922F6C-06DE-439B-BE2F-645000736C40</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>E3D45306-6281-470C-9041-6E9F2495D9A8</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>FCEC48A2-9064-4F33-B084-64D77D7695BA</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/magnickolas/alfred_pass</string>
</dict>
</plist>
